<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Iesu Artisan</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="assets/logo.jpg">
  <!-- normalize css -->
  <link rel="stylesheet" href="resources/resources/style.css"/>
  <!-- font -->
  <link rel="stylesheet" href="resources/resources/font.css"/>
  <!-- font awesome cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <!-- magnific popup -->
  <link rel="stylesheet" href="resources/resources/Magnific-Popup-master/dist/magnific-popup.css" />
  <!-- owl carousel -->
  <link rel="stylesheet" href="resources/resources/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css" />
  <link rel="stylesheet" href="resources/resources/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="resources/resources/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css" />
  <!-- animate css -->
  <link rel="stylesheet" href="resources/resources/animate.css-main/animate.css" />
  <!-- custom (main) css -->
  <link rel="stylesheet" href="css/main.css" />
  <!-- Flickty -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css" media="screen">
</head>
<body>
  <!-- header -->
  <header class="header" id="intro">
    <div class="wow bounceInUp">
      <nav class="navbar">
        <div class="container">
          <div class="brand-and-toggler">
            <a href="/" class="navbar-brand"> IESU ARTISAN </a>
            <button type="button" class="navbar-toggler" id="navbar-toggler">
              <div>
                <i class="fas fa-bars"></i>
            </button>
          </div>
          <div class="navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="#intro" class="nav-link">HOME</a>
              </li>
              <li class="nav-item">
                <a href="#product" class="nav-link">PRODUCTS</a>
              </li>
              <li class="nav-item">
                <a href="#faq" class="nav-link">FAQs</a>
              </li>
              <li class="nav-item">
                <a href="#testimonial" class="nav-link">FEEDBACK</a>
              </li>
              <li class="nav-item">
                <a href="#contact" class="nav-link">CONTACT US</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="hero-div center container">
        <h1>
          <span style="color: #f789d6;">WELCOME TO</span>
        </h1>
        <a href="/"><img src="assets/logo.jpg" alt="LOGO" width="300px" height="300px"></a>
        <p class="animate__animated animate__fadeInUp animate__slow">
          <br>
          LOCAL ARTISAN BAKED CAKES AND PASTRIES
        </p>
        <div class="hero-btns animate__animated animate__fadeInUp animate__slow">
          <button type="button" class="btn-trans" value="Input Button" onclick=" clickWWD()">
            what we do
          </button>
          <button type="button" class="btn-white" value="Input Button" onclick=" clickFeedbacks()">
            feedbacks
          </button>
          <script>
            function clickWWD() {
              location.href = "#detail";
            }
            function clickFeedbacks() {
              location.href = "/survey";
            }
          </script>
        </div>
      </div>
  </header>
  <!-- end of header -->
  <!-- detail section -->
  <section class="detail" id="detail">
    <div class="container">
      <div class="title">
        <h2 class="wow animate__animated animate__bounceIn animate__slow mb-4">
          What we do
        </h2>
        <p class="text">

        </p>
        <br />
      </div>
      <div class="row">
        <div class="
              detail-item
              wow
              animate__animated animate__fadeInLeft animate__slow
            ">
          <span><i class="fas fa-eye"></i></span>
          <h2>VISION</h2>
          <div class="line"></div>
          <p class="text">
            We imagine a world where there’s no such thing as a bad taste of pastry and all farmers live prosperously.
          </p>
        </div>

        <div class="
              detail-item
              wow
              animate__animated animate__fadeInUp animate__s
            ">
          <span><i class="fas fa-bullseye"></i></span>
          <h2>MISSION</h2>
          <div class="line"></div>
          <p class="text">
            Serve Filipinos the best pastries they’ve ever had while supporting fair trade baking practices in
            Philippines.
          </p>
        </div>

        <div class="
              detail-item
              wow
              animate__animated animate__fadeInRight animate__slow
            ">
          <span><i class="fas fa-business-time"></i></span>
          <h2>BAKED TO ORDER</h2>
          <div class="line"></div>
          <p class="text">
            Standout baked goods that prove variety is the spice of life!
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- end of detial section -->
  <!-- product section -->
  <section class="product" id="product">
    <div class="container">
      <div class="title">
        <h2 class="wow animate__animated animate__bounceIn animate__slow mb-4">
          PRODUCTS
        </h2>
        <p class="text">

        </p>
        <br />
      </div>
      <div class="hero-btns animate__animated animate__fadeInUp animate__slow">
        <!--<button
            type="button"
            class="btn-trans"
            value="Input Button"
            onclick=" clickCookie()">COOKIES</button>-->
        <button type="button" class="btn-white" value="Input Button" onclick=" clickCookie()">COOKIES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickCakes()">CAKES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickBrownies()">BROWNIES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickCupcakes()">CUPCAKES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickRolls()">ROLLS</button>
        <script>
          function clickCookie() {
            location.href = "#cookie";
          }
          function clickCakes() {
            location.href = "#cakes";
          }
          function clickBrownies() {
            location.href = "#brownies";
          }
          function clickCupcakes() {
            location.href = "#cupcakes";
          }
          function clickRolls() {
            location.href = "#rolls";
          }
        </script>
      </div>
      <div class="gallery js-flickity">
        <div class="gallery-cell">
          <div class="product-item">
            <span id="cookie"><img src="assets/COOKIE.JPG" alt="LOGO"></a></span>
            <h2>COOKIES</h2>
            <div class="line"></div>
            <p class="text">
              Cookies that melt inside your mouth!
            </p>
          </div>
        </div>
        <div class="gallery-cell">
          <div class="product-item">
            <span id="cookie"><img src="assets/cookie2.JPG" alt="LOGO"></a></span>
            <h2>IESU'S CHOCOLATE CHIP</h2>
            <div class="line"></div>
            <p class="text">
              REGULAR SIZE ₱290/12pcs
              <br>
              <br>
              PALM SIZE
              <br>
              ₱290/6pcs & ₱650/12pcs
            </p>
          </div>
        </div>
      </div>

      <div class="hero-btns animate__animated animate__fadeInUp animate__slow">
        <!--<button
            type="button"
            class="btn-trans"
            value="Input Button"
            onclick=" clickCookie()">COOKIES</button>-->
        <button type="button" class="btn-white" value="Input Button" onclick=" clickCookie()">COOKIES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickCakes()">CAKES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickBrownies()">BROWNIES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickCupcakes()">CUPCAKES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickRolls()">ROLLS</button>
        <script>
          function clickCookie() {
            location.href = "#cookie";
          }
          function clickCakes() {
            location.href = "#cakes";
          }
          function clickBrownies() {
            location.href = "#brownies";
          }
          function clickCupcakes() {
            location.href = "#cupcakes";
          }
          function clickRolls() {
            location.href = "#rolls";
          }
        </script>
      </div>
      <div class="gallery js-flickity">
        <div class="gallery-cell">
          <div class="product-item">
            <span id="cakes"><img src="assets/cake group.JPG" alt="LOGO"></a></span>
            <h2>CAKES</h2>
            <div class="line"></div>
            <p class="text">
              Cakes that are rich in flavour and spices!
            </p>
          </div>
        </div>
        <div class="gallery-cell">
          <div class="product-item">
            <span id="cakes"><img src="assets/carrotcake.JPG" alt="LOGO"></a></span>
            <h2>CARROT WALLNUT</h2>
            <div class="line"></div>
            <p class="text">
              6" ₱650
              <br>
              8" ₱1300
            </p>
          </div>

        </div>
        <div class="gallery-cell">
          <div class="product-item">
            <span id="cakes"><img src="assets/cake.JPG" alt="LOGO"></a></span>
            <h2>RED VELVET</h2>
            <div class="line"></div>
            <p class="text">
              6" ₱590
              <br>
              8" ₱1135
            </p>
          </div>
        </div>
        <div class="gallery-cell">
          <div class="product-item">
            <span id="cakes"><img src="assets/chococake.JPG" alt="LOGO"></a></span>
            <h2>DOUBLE CHOCOLATE SEASALT</h2>
            <div class="line"></div>
            <p class="text">
              6" ₱595
              <br>
              8" ₱1190
            </p>
          </div>
        </div>
      </div>

      <div class="hero-btns animate__animated animate__fadeInUp animate__slow">
        <!--<button
            type="button"
            class="btn-trans"
            value="Input Button"
            onclick=" clickCookie()">COOKIES</button>-->
        <button type="button" class="btn-white" value="Input Button" onclick=" clickCookie()">COOKIES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickCakes()">CAKES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickBrownies()">BROWNIES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickCupcakes()">CUPCAKES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickRolls()">ROLLS</button>
        <script>
          function clickCookie() {
            location.href = "#cookie";
          }
          function clickCakes() {
            location.href = "#cakes";
          }
          function clickBrownies() {
            location.href = "#brownies";
          }
          function clickCupcakes() {
            location.href = "#cupcakes";
          }
          function clickRolls() {
            location.href = "#rolls";
          }
        </script>
      </div>

      <div class="gallery js-flickity">
        <div class="gallery-cell">
          <div class="product-item">
            <span id="brownies"><img src="assets/brownies.JPG" alt="LOGO"></a></span>
            <h2>BROWNIES</h2>
            <div class="line"></div>
            <p class="text">
              A moist, dense and gooey, with almost the texture of the best brownies!
            </p>
          </div>
        </div>
        <div class="gallery-cell">
          <div class="product-item">
            <span id="brownies"><img src="assets/browniewithbrown.JPG" alt="LOGO"></a></span>
            <h2>BLONDIES</h2>
            <div class="line"></div>
            <p class="text">
              ₱250/6pcs
            </p>
          </div>

        </div>
        <div class="gallery-cell">
          <div class="product-item">
            <span id="brownies"><img src="assets/chocobrownie.JPG" alt="LOGO"></a></span>
            <h2>CLASSIC FUDGE BROWNIES</h2>
            <div class="line"></div>
            <p class="text">
              ₱250/8pcs
            </p>
          </div>
        </div>
        <div class="gallery-cell">
          <div class="product-item">
            <span id="brownies"><img src="assets/browniewithwhite.JPG" alt="LOGO"></a></span>
            <h2>S'MORES</h2>
            <div class="line"></div>
            <p class="text">
              ₱250/6pcs
            </p>
          </div>
        </div>
      </div>

      <div class="hero-btns animate__animated animate__fadeInUp animate__slow">
        <!--<button
            type="button"
            class="btn-trans"
            value="Input Button"
            onclick=" clickCookie()">COOKIES</button>-->
        <button type="button" class="btn-white" value="Input Button" onclick=" clickCookie()">COOKIES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickCakes()">CAKES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickBrownies()">BROWNIES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickCupcakes()">CUPCAKES</button>
        <button type="button" class="btn-white" value="Input Button" onclick=" clickRolls()">ROLLS</button>
        <script>
          function clickCookie() {
            location.href = "#cookie";
          }
          function clickCakes() {
            location.href = "#cakes";
          }
          function clickBrownies() {
            location.href = "#brownies";
          }
          function clickCupcakes() {
            location.href = "#cupcakes";
          }
          function clickRolls() {
            location.href = "#rolls";
          }
        </script>
        </div>

        <div class="gallery js-flickity">
          <div class="gallery-cell">
            <div class="product-item">
              <span id="cupcakes"><img src="assets/cupcake.JPG" alt="LOGO"></a></span>
          <h2>CUPCAKES</h2>
          <div class="line"></div>
          <p class="text">
            Finger lickin' good!
          </p>
        </div>

          </div>
          <div class="gallery-cell">
            <div class="product-item">
              <span id="cupcakes"><img src="assets/cupcake.JPG" alt="LOGO"></a></span>
          <h2>CARROT WALLNUT</h2>
          <div class="line"></div>
          <p class="text">
            ₱430/6pcs
            <BR>
            ₱850/12pcs
          </p>
        </div>
  
          </div>
          <div class="gallery-cell">
            <div class="product-item">
              <span id="cupcakes"><img src="assets/cupcake.JPG" alt="LOGO"></a></span>
          <h2>RED VELVET</h2>
          <div class="line"></div>
          <p class="text">
            ₱390/6pcs
            <BR>
            ₱800/12pcs
          </p>
        </div>
          </div>
          <div class="gallery-cell">
            <div class="product-item">
              <span id="cupcakes"><img src="assets/cupcake.JPG" alt="LOGO"></a></span>
              <h2>B-DAY CUPCAKES</h2>
              <div class="line"></div>
              <p class="text">
                ₱360/6pcs
                <BR>
                ₱710/12pcs
              </p>
            </div>
          </div>
        </div>
        <div class="hero-btns animate__animated animate__fadeInUp animate__slow">
          <!--<button
            type="button"
            class="btn-trans"
            value="Input Button"
            onclick=" clickCookie()">COOKIES</button>-->
          <button type="button" class="btn-white" value="Input Button" onclick=" clickCookie()">COOKIES</button>
          <button type="button" class="btn-white" value="Input Button" onclick=" clickCakes()">CAKES</button>
          <button type="button" class="btn-white" value="Input Button" onclick=" clickBrownies()">BROWNIES</button>
          <button type="button" class="btn-white" value="Input Button" onclick=" clickCupcakes()">CUPCAKES</button>
          <button type="button" class="btn-white" value="Input Button" onclick=" clickRolls()">ROLLS</button>

          <script>
            function clickCookie() {
              location.href = "#cookie";
            }
            function clickCakes() {
              location.href = "#cakes";
            }
            function clickBrownies() {
              location.href = "#brownies";
            }
            function clickCupcakes() {
              location.href = "#cupcakes";
            }
            function clickRolls() {
              location.href = "#rolls";
            }
          </script>
          </div>
          <div class="gallery js-flickity">
            <div class="gallery-cell">
              <div class="product-item">
                <span id="rolls"><img src="assets/roll1.JPG" alt="LOGO"></a></span>
            <h2>ROLLS</h2>
            <div class="line"></div>
            <p class="text">
              Rolls that will make you come back for more.
            </p>
          </div>
            </div>
            <div class="gallery-cell">
              <div class="product-item">
                <span id="rolls"><img src="assets/header-bg.JPG" alt="LOGO"></a></span>
            <h2>CLASSIC CINNAMON</h2>
            <div class="line"></div>
            <p class="text">
              ₱325/6pcs
              <BR>
              ₱640/12pcs
            </p>
          </div>
            </div>
            <div class="gallery-cell">
              <div class="product-item">
                <span id="rolls"><img src="assets/roll1.JPG" alt="LOGO"></a></span>
            <h2>ROLLE O'S</h2>
            <div class="line"></div>
            <p class="text">
              ₱380/6pcs
              <BR>
              ₱750/12pcs
            </p>
          </div>
            </div>
            <div class="gallery-cell">
              <div class="product-item">
                <span id="cupcakes"><img src="assets/cupcake.JPG" alt="LOGO"></a></span>
                <h2>B-DAY CUPCAKES</h2>
                <div class="line"></div>
                <p class="text">
                  ₱360/6pcs
                  <BR>
                  ₱710/12pcs
                </p>
              </div>
            </div>
          </div>
        </div>
  </section>
  <!-- end of product section -->
  <!-- faq section -->
  <section class="faq" id="faq">
    <div class="container">
      <div class="title">
        <h2 class="wow animate__animated animate__bounceIn animate__slow">
          Have any questions?
        </h2>
        <p class="text">Feel free to browse the FAQs</p>
      </div>

      <div class="row wow animate__animated animate__fadeInUp animate__slow">
        <div class="faq-item">
          <div class="faq-head">
            <h3>What’s your best seller?</h3>
            <span><i class="fas fa-plus"></i></span>
          </div>
          <div class="faq-content">
            <p class="text">
              Smores, Cinnamon Rolls, and Banana cake.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-head">
            <h3>Where are you located?</h3>
            <span><i class="fas fa-plus"></i></span>
          </div>
          <div class="faq-content">
            <p class="text">
              25 D Isarog corner N. Roxas Quezon City.
            </p>
          </div>
        </div>

        <div class="faq-item">
          <div class="faq-head">
            <h3>How much are the products?</h3>
            <span><i class="fas fa-plus"></i></span>
          </div>
          <div class="faq-content">
            <p class="text">
              The price ranges from 250 to 1650.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of faq section -->
  <!-- testimonial section -->
  <section class="testimonial" id="testimonial">
    <div class="container">
      <div class="title">
        <h2 class="wow animate__animated animate__bounceIn animate__slow">
          Services feedback
        </h2>
        <p class="text">
          We value the feedbacks of our customers because we believe that this
          is the key to our constant improvement for everyone's convinience
          and experience.
        </p>
      </div>

      <div class="
            row
            owl-carousel owl-theme
            wow
            animate__animated animate__fadeInUp animate__slow
          ">
        <div class="hero-btns animate__animated animate__fadeInUp animate__slow">
          <button type="button" class="btn-white" value="Input Button" onclick=" clickSURVEY()">SURVEY</button>
          <script>
            function clickSURVEY() {
              location.href = "/survey";
            }
          </script>

        </div>
      </div>
    </div>
  </section>
  <!-- end of testimonial section -->
  <!-- contact section -->
  <section class="contact" id="contact">
    <div class="container">
      <div class="title">
        <h2 class="wow animate__animated animate__bounceIn animate__slow">
          Contact Us
        </h2>
        <p class="text">Do not hesitate to reach us!</p>
      </div>

      <div class="row wow animate__animated animate__fadeInUp animate__slow">
        <div class="contact-left">
          <h2>Send Message Here</h2>
          <form action="https://formsubmit.co/iesuartisan@gmail.com" method="POST">
            <input type="text" class="form-control" placeholder="Name" />
            <input type="email" class="form-control" placeholder="Email" />
            <textarea placeholder="Message" rows="6"></textarea>
            <button type="submit" class="submit-btn">Send Now</button>
          </form>
        </div>

        <div class="contact-right">
          <div>
            <h2>Call Us</h2>
            <p class="text">Porshia Ocenar - +639955843866</p>
          </div>
          <div>
            <h2>Send an Email</h2>
            <p class="text">iesuartisan@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of contact section -->
  <!-- footer -->
  <footer class="footer center">
    <div class="container">
      <p class="text">
        © 2021 Iesu-Artisan Developed by TEAM SIAN. All Rights
        Reserved.
      </p>
    </div>
  </footer>
  <!-- end of footer -->

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <!-- magnific popup -->
  <script src="resources/resources/Magnific-Popup-master/dist/jquery.magnific-popup.js"></script>
  <!-- owl carousel -->
  <script src="resources/resources/OwlCarousel2-2.3.4/dist/owl.carousel.js"></script>
  <script src="resources/resources/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
  <!-- wow js -->
  <script src="resources/resources/WOW-master/dist/wow.js"></script>
  <!-- custom js -->
  <script src="js/script.js"></script>
  <!-- Flickty -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
</body>
</html>