<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Iesu Artisan - Survey</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="assets/logo.jpg">
    <!-- normalize css -->
    <link rel="stylesheet" href="resources/resources/style.css" />
    <!-- font -->
    <link rel="stylesheet" href="resources/resources/font.css" />
    <!-- font awesome cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <!-- magnific popup -->
    <link
      rel="stylesheet"
      href="resources/resources/Magnific-Popup-master/dist/magnific-popup.css"
    />
    <!-- owl carousel -->
    <link
      rel="stylesheet"
      href="resources/resources/OwlCarousel2-2.3.4/dist/assets/owl.carousel.css"
    />
    <link
      rel="stylesheet"
      href="resources/resources/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="resources/resources/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.css"
    />
    <!-- animate css -->
    <link rel="stylesheet" href="resources/resources/animate.css-main/animate.css" />
     <!-- DataTable css -->
     <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"/>
    <!-- custom (main) css -->
    <link rel="stylesheet" href="css/viewing.css" />  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  </head>
  <body>
    <!-- header -->
    <header class="header" id="intro">
      <div class="wow bounceInUp">
      <nav class="navbar">
        <div class="container">
          <div class="brand-and-toggler">
            <a href="/" class="navbar-brand"> IESU ARTISAN  </a>
            <a href="/" class="nav-link">HOME</a>
              <div>
               
            </div>
            <div class="navbar-collapse">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="/" class="nav-link">HOME</a>
                </li>
              </ul>
              </div>
        </div>
      </div>
      </div>
    </nav>
    </header>
  
       <!-- end of header -->
        <!-- survey -->
       
        <section class="testimonial" id="testimonial">
          <div class="container">
            <div class="title">
              <h2 class="wow animate__animated animate__bounceIn animate__slow">
                Feedbacks
                <br>
                <br>
                
              </h2>
              <table id="example" class="table-bordered table-hover table-condensed" style="width:100%">
             
                <thead>
                  <tr>
                    <th scope="col" class="th-sm">ID</th>
                    <th scope="col" class="th-sm">How will you rate the products you received?</th>
                    <th scope="col" class="th-sm">How satisfied are you with our products?</th>
                    <th scope="col" class="th-sm">How satisfied are you with the service provided?</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <% for(var i = 0; i < user.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= user[i].feedBack1 %></td>
                        <td><%= user[i].feedBack2 %></td>
                        <td><%= user[i].feedBack3 %></td>

                    </tr>
                    <% } %>
                </tbody>
                <tfoot>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">How will you rate the products you received?</th>
                    <th scope="col">How satisfied are you with our products?</th>
                    <th scope="col">How satisfied are you with the service provided?</th>
                   
                  </tr>
                </tfoot>
              </table>


              
            </div>
          
          </div>
          
        </section>
        <!-- end of survey section -->

       <!-- footer -->
    <footer class="footer center">
        <div class="container">
          <p class="text">
            © 2021 Iesu-Artisan Developed by TEAM SIAN. All Rights
                    Reserved.
          </p>
        </div>
      </footer>
      <!-- end of footer -->
  
      <!-- jQuery -->
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <!-- DataTable -->
      <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
      <!-- magnific popup -->
      <script defer src="resources/resources/Magnific-Popup-master/dist/jquery.magnific-popup.js"></script>
      <!-- owl carousel -->
      <script defer src="resources/resources/OwlCarousel2-2.3.4/dist/owl.carousel.js"></script>
      <script defer src="resources/resources/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
      <!-- wow js -->
      <script src="resources/resources/WOW-master/dist/wow.js"></script>
      <!-- custom js -->
      <script src="js/script.js"></script>

  
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    </body>
  </html>

